html{
    background-color: black;
    color: white;
}
#navbar{
    margin: auto;
    display: flex;
    justify-content: center;
}

#navbar a{
    margin: 30px;
    padding-bottom:10px ;
    text-decoration: none;
    color: white;
}

#navbar a:hover{
    border-bottom: 2px solid white;
}

form{
    display: flex;
    flex-direction: column;
}